<%= form_for @flight, method: :get do |f| %>
    <%= f.label :from %>
    <%= f.collection_select(:from_airport_id, Airport.all, :id, :code) %>
    
    <%= f.label :to %>
    <%= f.collection_select(:to_airport_id, Airport.all, :id, :code) %>
    
    <%= select_tag :number_of_passengers, options_for_select((1..10)) %>
    
    <%= f.label :date %>
    <%= f.collection_select(:start_date, @flights, :start_date, :date_formated) %>
    
    <%= f.submit "Find Flight" %> </br>
    
    <% if @results.empty? %>
        <p>No flights found with that criteria!</p>
    <% else %>
        <%= f.fields_for :booking, method: :get, url: new_booking_path do |b| %>
            <% @results.each do |flight| %>
                <%= b.radio_button(:flight_id, flight.id) %> From: <%= flight.from_airport.code %> To: <%= flight.to_airport.code %><br>
            <% end %>
            <%= b.submit "Book it" %>
        <% end %>
    <% end %>
    
<% end %>