<%= form_for :flight, method: :get do |f| %>
    <div class="grid-container">
        <div class="grid-x grid-padding-x">
            <div class="small-6 cell">
                <%= f.label :from_airport_id %>
                <%= f.collection_select(:from_airport_id, Airport.all, :id, :name) %>
            </div>
            
            <div class="small-6 cell">    
                <%= f.label :to_airport_id %>
                <%= f.collection_select(:to_airport_id, Airport.all, :id, :name) %>
            </div>
            
            <div class="small-6 cell">
                <%= f.label :num_passengers, "Passengers" %>
                <%= select_tag :num_passengers, options_for_select((1..10)) %>
            </div>
            
            <div class="small-6 cell">   
                <%= f.label :date %>
                <%= f.collection_select(:start_date, @flights, :start_date, :date_formated) %>
            </div>
        </div>
        <div class="grid-y grid-padding-x">
            <div class="small-3 float-center cell">
                <%= f.submit "Find Flight", class: "button" %> </br>
            </div>
        </div>
    </div>
<% end %>
<hr>
<div class="grid-container">
    <div class="grid-x grid-padding-x">
        <div class="cell auto text-center">
        <% if @results.nil? %>
        <p></p>
        <% elsif @results.empty? %>
            <p>No flights found with that criteria!</p>
        <% else %>
            <%= form_for :booking, method: :get, url: new_booking_path do |b| %>
                <%= b.hidden_field(:num_passengers, :value => params[:num_passengers]) %>
                <% @results.each do |flight| %>
                    <%= b.radio_button(:flight_id, flight.id) %> From: <%= flight.from_airport.code %> To: <%= flight.to_airport.code %><br>
                <% end %>
                <%= b.submit "Book it", class: "button" %>
            <% end %>
        <% end %>
        </div>
    </div>
</div>